#clickline-settings .clickline-content { display: block; }
#clickline-settings .clickline-left { float: left; margin: 20px; }

.clickline-right { float: right; }
#clickline-settings .clickline-right li { background: url('../img/menu_arrow.png') no-repeat scroll left center; height: 20px; list-style: none outside none; margin: 0 0 30px 10px; min-height: 21px; padding: 2px 0 0 30px; text-decoration: none; }
#clickline-settings .clickline-right span.heads { font-weight: bold; }
#clickline-settings .clickline-right span.subs { font-size: 12px; }

#clickline-settings .clickline-menu-option {cursor:pointer;padding: 20px; text-align: center;}
/*1.5 and 1.4 bootstrap simulator*/
#clickline-settings div.not_ps_16 .clickline-menu-option {float:left;width:25%;-moz-box-sizing: border-box;box-sizing:border-box;}
#clickline-settings div.not_ps_16 .img-responsive  {display:inline-block !important; max-width: 100%}
/*Special 1.6 - bootstrap settings*/
#clickline-settings div.ps_16 .img-responsive {display:inline-block !important; margin-bottom: 10px}
#clickline-settings div.ps_16 a {color: inherit}
#clickline-settings div.ps_16 a:hover {text-decoration: none}